body,
div,
.title,
.calculator-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
  padding: 8px;

}

.calculator-main {
    text-align: center;
    background-color: #334455;
    color: #d5a91a;
}


#title {
    font-weight: 700;
    font-size: 36;
}

.button-grid {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

#calculator-Button {
    background-color: #4a4d50;
    color: black;
    padding: 4px;
    border: solid, black;
    border-radius: 4px;
}